/* body {
    font-family: 'Roboto';
  background: url('images/background_pokemon.jpg');
    background-size: cover;
  background-position: center;
}
#landpage {text-align: center;
  width: 100%;
  height: 100vh;
  background:rgba(255,255,255,0.7);
  background-size: cover;
  background-position: center;
}
	form{
		width: 30vw; margin:auto;border: 1px solid black;
	}
	form >*{display: block; width: 92%; padding: .5em; margin: 0.8vw}

#back{background: steelblue; border: none;width: 25%;height: 5vh;float: left;color: white;margin:1%}
edit-plus {
   position: absolute !important;
   left: 0;
   top: 36%;
   font-size: 3em;
   width: 100%;
   color: var(--btns);
   text-align: center;
   transition: 0.5s;
 } */
label {
  margin: 0;
  cursor: pointer;
}
input:checked ~ .cardo {
  /* box-shadow: 0px 0px 20px 2px #5AEE00; */
  border-radius: 0.75rem;
  background: var(--check-main);
  z-index: 5;
  transform: scale(0.95,0.95);
}
input:checked ~ .cardo  .content {
  background: var(--check-accent);
}
input:checked ~ .cardo .content .color-accent {
  color: var(--check-txt);
}
.cardo {
  z-index: 2;
  transform-origin: center;
  transform: scale(1,1);
}

.check {
  position: absolute !important;
  left: 0;
  padding: 28% 0 0 0;
  font-size: 10em;
  width: 100%;
  height: 100%;
  color: var(--check);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  text-align: center;
  transition: 0.4s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input:checked ~ .check {
  opacity: 0.9;
  visibility: visible;
  /* filter: brightness(120%); */
  z-index: 6;
}
