body {
  background: url('images/background_pokemon.jpg');
    background-size: cover;
  background-position: center;
}

#landpage {text-align: center;   
  width: 100vw;
  height: 100vh;
  background:rgba(255,255,255,0.7);
  background-size: cover;
  background-position: center;
}

#pic {
  margin: auto;
  display: block;
  width: 60vw;
  height: auto;
}


#menu ul li a{color: darkblue; font-weight: 900;}

#menu ul li a:hover{color:  black;}












