body {
  background-color: white;
}

#root {}

#landpage {
  width: 100vw;
  height: 100vh;
  background: url('images/background_pokemon.jpg');
  background-size: cover;
  background-position: center;
}

#pic {
  margin: auto;
  display: block;
  width: 60vw;
  height: auto;
}

input[type=search] {
  border: 0.2vmin solid blue;
  border-radius: 16px 0 0 16px;
  box-shadow: inset -5px 7px 0px 0px rgba(0, 0, 0, 0.1);
  display: inline-block;
  height: 6vh;
  float: left;
  padding: 1vh 1vw;
  outline: none;
  width: 35vw;
  transition: .5s;
}

#searchform {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#send {
  border: 0.2vmin solid blue;
  border-radius: 0 16px 16px 0;
  float: left;
  display: block;
  height: 6vh;
  font-size: 2em;
  text-align: center;
  background: blue;
  color: white;
  outline: none;
  width: 3vw;
  overflow: hidden;
  transition: .5s;
}

input[type=search]:focus {
  width: 25vw;
}

input[type=search]:focus~#send {}
