* {
  margin: 0;
  padding: 0;
}
h1 {
  color: var(--txt-main);
}
h2 {
  color: var(--txt-main);
}
h3 {
  color: var(--txt-main);
}
h4 {
  color: var(--txt-accent);
}
h5 {
  color: var(--txt-accent);
}
p {
  color: var(--txt-accent);
}
.notblue {
  color: var(--txt-main);
}
.notblue:hover {
  color: var(--txt-main);
  text-decoration: none;
}
.theme-toggle {
  background: var(--btn-main);
  box-shadow: 0 0 10px var(--btns);
  color: var(--btn-color);
  padding: 1rem 0.6rem;
  position: fixed;
  top: 20vh;
  right: 0;
  z-index: 100;
}
.theme-toggle span {
  opacity: 0.8;
}
.theme-toggle:hover {
  text-decoration: none;
  color: var(--btn-color);
}
.theme-toggle:hover span {
  opacity: 1;
}
.btn-accent {
  background: var(--btn-accent);
  color: white;
}
.btn-accent:hover {
  background: var(--btn-hover);
}
.bgcolor-bug {
  background: #729f3f;
  color: white;
}
.bgcolor-dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  color: white;
}
.bgcolor-fairy {
  background: #fdb9e9;
  color: black;
}
.bgcolor-fire {
  background: #fd7d24;
  color: white;
}
.bgcolor-ghost {
  background: #7b62a3;
  color: white;
}
.bgcolor-ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  color: black;
}
.bgcolor-normal {
  background: #a4acaf;
  color: black;
}
.bgcolor-psychic {
  background: #f366b9;
  color: white;
}
.bgcolor-steel {
  background: #9eb7b8;
  color: black;
}
.bgcolor-dark {
  background: #707070;
  color: white;
}
.bgcolor-electric {
  background: #eed535;
  color: black;
}
.bgcolor-fighting {
  background: #d56723;
  color: white;
}
.bgcolor-flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  color: black;
}
.bgcolor-grass {
  background: #9bcc50;
  color: black;
}
.bgcolor-ice {
  background: #51c4e7;
  color: black;
}
.bgcolor-poison {
  background: #b97fc9;
  color: white;
}
.bgcolor-rock {
  background: #a38c21;
  color: white;
}
.bgcolor-water {
  background: #4592c4;
  color: white;
}
footer {
  background: var(--bg-darker);
}
.footerlink {
  text-align: center;
  font-size: 1.1rem;
}
